@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Poppins:wght@300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  --color-bg: #0c2340;
  --color-bg-variant: #0097ab;
  --color-bg-primary: #d7c7a7;
  --color-bg-primary-variant: #c4c4c4;
  --color-white: #d7c7a7;
  --color-light: rgba(255, 255, 255, 0.6);

  --color: linear-gradient(89.97deg, #0097ab 1.84%, #A6F88E 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #0097ab -13.86%, #F49867 99.55%);

  --transition: all .4s ease;

  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Arial';
  background: var(--color-bg);
  color: var(--color-white);
  line-height: 1.7;
  font-weight: 100;
  /* background-image: linear-gradient(toright, #870000, #190a05); */
}

/* ############### GENERAL STYLES ############### */

.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}


h1 {
  font-size: 2.5rem;
}

section {
  margin-top: 8rem;
}

section>h2,
section>h5 {
  text-align: center;
  color: var(--color-light);
}

section>h2 {
  color: var(--color-bg-name);
  margin-bottom: 3rem;
}

.text-light {
  font-family: 'Courier New', Courier, monospace;
  color: var(--color-light);
}

.text-myName {
  background: -webkit-linear-gradient(#0097ab 1.84%, #d7c7a7 102.67%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: sans-serif;
  font-weight: 100;
}

a {
  color: var(--color-bg-primary);
  transition: var(--transition);

}

a:hover {
  color: var(--color-white);

}

.btn {
  width: max-content;
  display: inline-block;
  color: var(--color-primary);
  padding: 0.75rem 1.2rem;
  border-radius: 0.3rem;
  cursor: pointer;
  border: 1px solid var(--color-primary);
  transition: var(--transition);
}

.btn:hover {
  background-color: var(--color-white);
  color: var(--color-bg);
  border-color: transparent;

  background: -webkit-linear-gradient(#0097ab 1.84%, #d7c7a7 102.67%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: sans-serif;
}

.btn-primary {
  background: var(--color-bg-primary);
  color: var(--color-bg);
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

/* ########### MEDIA */

@media screen and (max-width:1024px) {
  .container {
    width: var(--container-width-md);
  }

  section {
    margin-top: 6rem;
  }
}

@media screen and (max-width:600px) {
  .container {
    width: var(--container-width-sm);
  }

  section>h2 {
    margin-bottom: 2rem;
  }
}